.logo{
    display: flex;
    justify-content: safe;
    margin: 0px 300px;
}
  nav{
    display: flex;
    justify-content: space-between;

    border: solid;
    background-color: gray;
    
  }
  .navitems{
    display: flex;
  justify-content: space-around;
    margin: 0px 500px ;
    list-style-type: none;
    text-decoration: none
  }
  *{
    color: rgba(137, 104, 167, 0.856);
    background-color:rgb(185, 177, 166);
  }
  .l{
    margin: 0 100px ;
  }
  .i{
    margin: 0 10px ;
  }
  .g{
    margin: 0 20px ;
  }
  .hero{
    border: 1px solid;
    box-shadow: 20px;
  }